<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="body">
  <header class="header">
    <p class="title">Recuperar contraseña</p>
  </header>
  <main class="main">
    <p class="message">Su contraseña provisional es: <span class="password">{{password}}</span> </p>
    <p class="message">Tenga en cuenta que esta es solo una contraseña provisional generada, por favor
      asegúrese de cambiarla después</p>
  </main>
</body>

</html>
<style>
  .body {
    border: 3px solid #18181b;
    border-radius: 15px;
  }

  .header .title {
    text-align: center;
    font-weight: bold;
    color: #18181b;
    text-transform: uppercase;
  }

  .message {
    text-align: center;
    font-size: 1rem;
  }

  .password {
    font-weight: bold;
    color: white;
    background-color: #18181b;
    padding: .3rem;
  }
</style>